@charset "UTF-8";
body {
  background-color: #dfe6e8;
  margin: 0px;
}

a {
  text-decoration: none;
  color: darkslategray;
}

ul {
  list-style: none;
}

.gear {
  position: absolute;
  bottom: 80px;
  right: 25px;
  width: 22px;
  height: auto;
  background-color: #fff;
  border: solid 8px #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.15);
}

.batsu {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #db2f20;
  -webkit-box-shadow: 0px 2px 0px;
          box-shadow: 0px 2px 0px;
  top: 5px;
  right: 5px;
}

.batsu::before, .batsu::after {
  /* 共通設定 */
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 15px;
  border-radius: 1px;
  background: #000;
}

.batsu::before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.batsu::after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.option_inner {
  opacity: 0;
  -webkit-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
  z-index: -1;
}

.option_inner.active {
  opacity: 2;
  background-color: #fff;
}

.option_inner.active .file {
  display: block;
}

.option_inner .file {
  display: none;
  position: absolute;
  width: 250px;
  height: 300px;
  top: 45%;
  left: 50%;
  background-color: #cdd6d8;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border-radius: 10px;
  font-size: 0.8rem;
  text-align: center;
  font-weight: bold;
}

.option_inner .file .beco {
  width: 100px;
  height: 30px;
  background-color: #cdd6d8;
  border-radius: 15px;
  position: absolute;
  top: -15px;
  left: 0;
}

.option_inner .file .border {
  width: 160px;
  height: 3px;
  background-color: #000;
  border-radius: 1.5px;
  margin: 25px auto;
}

.mail {
  margin-right: 30px;
}

.sound {
  margin-top: 5px;
}

.audio {
  margin-top: 70px;
}

.audio p {
  margin: 0 40px 0 0;
}

.main {
  margin: auto;
  text-align: center;
}

.title {
  margin-top: 130px;
}

.titleinner {
  width: 170px;
  position: absolute;
  top: 200px;
  left: 50%;
  padding-right: 15px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: -1;
}

.btnarea {
  font-family: Trebuchet,'游ゴシック体',sans-serif;
  font-size: 1.8em;
  letter-spacing: 0.03em;
  position: absolute;
  bottom: 110px;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: -1;
}

.btnarea .btn {
  display: inline-block;
  padding: 0.2em 0.8em;
  text-decoration: none;
  border: solid 2px #db2f20;
  border-radius: 10px;
  background-color: #db2f20;
  -webkit-box-shadow: inset 3px 3px #dc4a42, 0px 5px 0px rgba(0, 0, 0, 0.15);
          box-shadow: inset 3px 3px #dc4a42, 0px 5px 0px rgba(0, 0, 0, 0.15);
  color: #dfe6e8;
}

.btnarea .btn:hover {
  background: #bc291c;
  position: relative;
  top: 4px;
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
}

.move {
  position: absolute;
  bottom: 200px;
  left: 10px;
  z-index: -1;
}

.eye {
  position: absolute;
  top: -65px;
  left: 25px;
}

.hand {
  position: absolute;
  top: -10px;
  left: 35px;
}

#term .title {
  font-size: 12px;
  text-align: center;
  margin-top: 40px;
}

#term ul {
  padding: 0 20px;
}

#term ul li {
  border: 2px solid darkslategray;
  border-radius: 5px;
  position: relative;
  display: block;
}

#term ul li + li {
  margin-top: 10px;
}

#term ul li a {
  padding: 8px 8px;
  display: block;
}

#term ul li a span {
  position: absolute;
  top: 0px;
  right: 0px;
  background: darkgray;
  color: #fff;
  padding: 8px 12px;
  display: inline-block;
  z-index: 1;
}

/*正解数で表示非表示*/
#term ul li .gray {
  background-color: darkgray;
  pointer-events: none;
}

#roop .title {
  font-size: 12px;
  text-align: center;
  margin-top: 40px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#roop .flex button {
  width: 200px;
}

#roop .flex ul {
  padding: 0;
}

#roop .flex li + li {
  margin-top: 10px;
}

#roop .btn {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: darkslategray;
  border: solid 2px darkslategray;
  border-radius: 3px;
  -webkit-transition: .4s;
  transition: .4s;
}

#roop .btn:hover {
  background: darkslategray;
  color: white;
}
.correct{
  color: #e55617;
}

.correct, .incorrect {
  font-size: 4rem;
  background-color: #e4efe8;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  width: 260px;
  opacity: 0;
  border-radius: 10px;
  z-index: -1;
}


.correct, .incorrect p {
  text-align: center;
}

/*.correct.active, .incorrect.active {
  opacity: 1;
}
@keyframes fadein-keyframes {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}*/

#name .nameinner {
  text-align: center;
  margin-top: 200px;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}

#name .nameinner input {
  background-color: #cdd6d8;
  border: none;
  border-radius: 5px;
  height: 25px;
}

#name .nameinner button {
  background-color: #000;
  border: none;
  height: 25px;
  border-radius: 5px;
}

#name .nameinner button a {
  color: #dfe6e8;
}

#roop .sentence {
  width: 250px;
  margin: auto;
}

#roop .flex ul {
  width: 250px;
}

#roop .flex ul li .btn {
  width: 100%;
  border: none;
  background-color: #e6efe8;
  border-radius: 5px;
  height: 40px;
  text-align: left;
  -webkit-box-shadow: 0px 5px 0px #cdd6d8;
          box-shadow: 0px 5px 0px #cdd6d8;
}
#roop .flex ul li .btn {
  width: 100%;
  border: none;
  background-color: #e6efe8;
  border-radius: 5px;
  height: 40px;
  text-align: left;
  -webkit-box-shadow: 0px 5px 0px #cdd6d8;
          box-shadow: 0px 5px 0px #cdd6d8;
}

.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: .6s;
}
.popup.is-show {
  opacity: 1;
  visibility: visible;
}
.popup-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
  max-width: 600px;
  padding: 50px;
  background-color: #fff;
  z-index: 2;
}
.popup-inner img {
  width: 100%;
}
.close-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}
.close-btn i {
  font-size: 20px;
  color: #333;
}
.black-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.8);
  z-index: 1;
  cursor: pointer;
}
/* 非表示 */
.is-hide {
  display: none;
}
/* ローディング画面をフェードアウト */
.fadeout-bg {
  transition-property: opacity;
  transition-delay: 0.2s;
  transition-duration: 1.5s;
  opacity: 0;
  pointer-events: none;
}
/* ローダーをフェードアウト */
.fadeout-loader {
  transition-property: opacity;
  transition-delay: 1.5s;
  transition-duration: 1.5s;
  opacity: 0;
  pointer-events: none;
}
/* ローディング画面 */
#loader-bg {
  background: #222;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
#loader {
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
}
/* ムービー */
video {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
  z-index: 70;
}
/* スピーカーオンオフ */
#speaker {
  right: 20px;
  position: fixed;
  top: 20px;
  z-index: 110;
}
/*# sourceMappingURL=config.css.map */
